@page
@model CreateModel
<form method="post">
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label asp-for="Command.Description" class="control-label">توضیحات</label>
				<input class="form-control" asp-for="Command.Description" />
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label asp-for="Command.CreationDate" class="control-label">تاریخ</label>
				<input class="form-control" asp-for="Command.CreationDate" />
			</div>
		</div>
	</div>
	<button type="submit" class="btn btn-success btn-lg waves-effect waves-light m-rl-5">ایجاد فاکتور</button>
</form>