@page "{id}"
@model EditModel

<form method="post">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Command.Description" class="control-label">توضیحات</label>
                <input class="form-control" asp-for="Command.Description" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Command.CreationDate" class="control-label">تاریخ</label>
                <input class="form-control" asp-for="Command.CreationDate" />
                <input type="hidden" asp-for="Command.Id" value="@Model.Command.Id" />
                <input type="hidden" name="url" value="@Model.Page" />
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-info btn-lg waves-effect waves-light m-rl-5">ثبت</button>
</form>